# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
media/

# Static files (если будешь собирать collectstatic)
staticfiles/

# Logs
*.log

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/

# Ruff
.ruff_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Local documentation and temp files
*.tmp
*.bak

# VS Code workspace settings
*.code-workspace